<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    
    <title>Accueil</title>
</head>
<body>
    <h1>Hello !</h1>

    <% index.forEach(function(index){ %>
        <div>
                      
            <h5 ><%= index.Pseudo%></h5>
            <p><%= index.Email%></p>
            <h6> <%= index.Password%></h6>
        </div>
    <% }) %>
    


    <script src="/service-worker.js"></script>
</body>
</html>