<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Hello !</h1>

    <% if (user) { %>
        <h1>Bienvenue <%= user.username %>!</h1>
        <!-- Affichez d'autres informations sur l'utilisateur si nécessaire -->
        <a href="/authentification/deconnexion"><button>Déconnexion</button></a>




    <% } else { %>
        <a href="/authentification/connexion"><button>Connexion</button></a>
        <a href="/authentification/inscription"><button>Inscription</button></a>

        <p>Vous n'êtes pas connecté. Veuillez vous connecter.</p>
    <% } %>

    
</body>
</html>