<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montez&family=Poppins:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/landing_page.css">


    <script src="/bootstrap/js/bootstrap.bundle.min.js" defer></script>

    <title>POM</title>
</head>
<body>
        
    <nav>
        <div class="logo-slogan-nav">
            <div class="div-logo-nav">
                <img src="/public/img/logo.png" alt="LOGO" class="logo-landing-page-nav">
            </div>
            <div class="div-slogan-nav">
                <h1>POM</h1>
            </div>
        </div>
        <h1>POM</h1>
        <ul>
            <a href="#" class="fromCenter"><li>Application</li></a>
            <a href="#" class="fromCenter"><li>Histoire</li></a>
            <a href="#" class="fromCenter"><li>Contact</li></a>
        </ul>
    </nav>

    <section class="section-landing-page">
        <div class="landing-body-left">      
            <div class="logo-slogan">
                <div class="div-logo">
                    <img src="/public/img/logo.png" alt="LOGO" class="logo-landing-page">
                </div>
                <div class="div-slogan">
                    <h1>POM</h1>
                    <p>Parle, Ose, Motive toi</p>
                </div>
            </div>
            <p class="landing-left-text">
                <span class="paragraph-1">Agenda partagé pour <br> sortir à son rythme</span>
                <br><br>
                <span class="paragraph-2">
                    Pour une utilisation apaisante, <br>
                    rejoignez-nous sur notre application.
                </span>
            </p>
            
            <button class="btn-download-landing-page">Télecharger</button>
        </div>


        <div class="landing-body-right"><img src="/public/img/tel_notif_exemple.png" alt="" class="telephone-landing-page"></div>
    </section>

</body>
</html>