<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>

    <% if (typeof error !== 'undefined') { %>
        <p><%= error %></p>
    <% } %>
    
    <form action="/register" method="POST">

        <label for="email">Pseudo : </label>
        <input type="text" name="pseudo">
        <br>
        <label for="email">Email : </label>
        <input type="email" name="email">
        <br>
        <label for="password">Mot-de-passe : </label>
        <input type="password" name="password">
        <br>
        <label for="conf-password">Confirmation : </label>
        <input type="password" name="conf_password">
        <br>
        <button type="submit">Connexion</button>
    </form>
    
</body>
</html>